.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.content-container{
  margin-top:auto;
  text-align: center;
  height:50vh;
  
}
.project-container{
  display:flex;
  flex-direction: row;
}
.webpage-content-container{
  display: flex;
  flex-direction: row;
  width:70%;
  margin:auto;
  justify-content: space-between;
  
}
.content{
  background: #f7f7f7;
  width:100%;
  margin:auto;
  height:100vh;
  width:100%;
}
.image-container{
  position: relative;
  width:50%;
  display:flex;
  justify-content:space-around;
  align-content: center;
  padding-left: 100px;
  /* flex-wrap: wrap; */
  flex-direction: column;
  height:100%;
}

#about-image-container{
  height: auto;
  background-color: teal;
  width:70%;
  margin-bottom: 20px;
}

#jumbo-bg{
  background-color:#1f2124; 
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.header-text{
  color:rgb(13, 42, 83);
  text-align: center;
  margin-left:3.2vw;
  position:relative;
} 
.header-bg{
  background-color:white;
}

#landing-header{
  font-size: 3.5em;
  color:#f7f7f7;
  font-family: 'Raleway';

}
#landing-header-content{
  font-size: 1.5em;
  color:white;
  font-family: 'Raleway', sans-serif;

}

.landing-image{
  width:15vw;
  height:15vw;
  border-radius: 50%;
}

.navbar{
  margin-bottom:0px;
  background-color:rgb(13, 42, 83);

}
#navbar-text{

}


.nav-brand-text{
  color:white;
  font-size: 1.3em;
}

#paragraph-container{
  width:50%;
  position: relative;
  color:rgb(13, 42, 83);
}